<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pj.spring.mapper.cartMapper">
	
	<!-- 장바구니 조회(user) -->
	<select id="selectCartListUser" parameterType="UserVO" resultType="ProductVO">
		SELECT attachment_detail_new_name
			 , p.product_no
			 , product_name
			 , product_author
			 , product_price
			 , product_created_at
			 , category_name
			 , cart_product_quantity
			 , product_status
		  FROM product p
		  JOIN attachment a
		    ON p.product_no = a.attachment_product_no AND a.attachment_type ='PT'
		  JOIN attachment_detail d
		    ON a.attachment_no = d.attachment_no
		  JOIN category cg
		    ON p.category_no = cg.category_no
		  JOIN cart c
		    ON p.product_no = c.product_no
		<if test="user_id != null and user_id != ''">
 		   WHERE c.user_id = #{user_id}
 		</if>
	</select>
	
	<!-- 장바구니 조회(guest) -->
<!-- 	<select id="selectCartListGuest" parameterType="int" resultType="ProductVO">
		SELECT attachment_detail_new_name
			 , p.product_no
			 , product_name
			 , product_author
			 , product_price
			 , product_created_at
			 , category_name
			 , cart_product_quantity
		  FROM product p
		  JOIN attachment a
		    ON p.product_no = a.attachment_product_no AND a.attachment_type ='PT'
		  JOIN attachment_detail d
		    ON a.attachment_no = d.attachment_no
		  JOIN category cg
		    ON p.category_no = cg.category_no
		  JOIN cart c
		    ON p.product_no = c.product_no
	 	 WHERE product_status = 'E'
 		<if test="(user_id == null or user_id == '') and guest_no != null and guest_no != ''">
 		   AND c.guest_no = #{guest_no}
 		</if>  
	</select> -->
	
	<!-- 장바구니 금액 조회(user) -->
	<select id="selectCartPriceUser" parameterType="UserVO" resultType="ProductVO">
		SELECT COALESCE(SUM(c.cart_product_quantity * p.product_price), 0) AS product_price,
         	   COALESCE(SUM(c.cart_product_quantity), 0) AS cart_product_quantity
    	  FROM product p
    	  JOIN cart c ON p.product_no = c.product_no
 		 WHERE p.product_status = 'E'
    	  <if test="user_id != null and user_id != ''">
 		 AND c.user_id = #{user_id}
 		  </if>
	</select>
	
	<!-- 장바구니 금액 조회(guest) -->
	<!-- <select id="selectCartPriceGuest" parameterType="int" resultType="ProductVO">
		SELECT COALESCE(SUM(c.cart_product_quantity * p.product_price), 0) AS product_price,
         	   COALESCE(SUM(c.cart_product_quantity), 0) AS cart_product_quantity
    	  FROM product p
    	  JOIN cart c ON p.product_no = c.product_no
    	  <if test="(user_id == null or user_id == '') and guest_no != null and guest_no != ''">
 		   AND c.guest_no = #{guest_no}
 		</if> 
	</select> -->
	
	<!-- 장바구니 수량 업데이트(user) -->
	<update id="updateCartQuantityUser" parameterType="map">
    	UPDATE cart
    	   SET cart_product_quantity = #{quantity}
    	 WHERE user_id = #{user_id}
    	   AND product_no = #{product_no};
	</update>
	
	<!-- 장바구니 수량 업데이트(guest) -->
	<update id="updateCartQuantityGuest" parameterType="map">
    	UPDATE cart
    	   SET cart_product_quantity = #{quantity}
    	 WHERE guest_no = #{guest_no}
    	   AND product_no = #{product_no};
	</update>
	
	
</mapper>